.card {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 2.5%;
}

.card img {
  border-radius: 5px;
  height: 120px;
  object-fit: contain;
  width: 20%;
}

.data {
  font-size: 17px;
  line-break: auto;
  text-align: auto;
  width: 30%;
}

.total {
  text-align: center;
  width: 25%;
}

.quant {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 20%;
}

.quant p {
  margin: 0 8px;
}

.quantBtn {
  background-color: #F8375D;
  border-radius: 100%;
  border: #F8375D solid 2px;
  color: white;
  padding: 5px 10px;
}

.quantBtn:hover {
  background-color: #6d1829;
  border: #6d1829 solid 2px;
  cursor: pointer;
}

.quantBtn:disabled {
  background-color: #6d1829;
  border: #6d1829 solid 2px;
  cursor: auto;
}

.removeBtn {
  background-color: white;
  border: none;
  color: red;
  font-weight: 600;
  font-size: 25px;
  width: 5%;
}

.removeBtn:hover {
  cursor: pointer;
}

hr {
  border: 1px #99999933 solid;
  width: 90%;
}

