.card {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 2.5%;
}

.info {
  display: flex;
  width: 50%;
}

.info img {
  border-radius: 5px;
  height: 120px;
  object-fit: scale-down;
  width: 50%;
}

.info .data {
  font-size: 17px;
  line-break: auto;
  text-align: auto;
  width: 50%;
}

.options {
  display: flex;
  width: 50%;
}

.total {
  text-align: center;
  width: 40%;
}

.quant {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40%;
}

.quant p {
  margin: 0 8px;
}

.quantBtn {
  background-color: #F8375D;
  border-radius: 100%;
  border: #F8375D solid 2px;
  color: white;
  padding: 5px 10px;
}

.quantBtn:hover {
  background-color: #6d1829;
  border: #6d1829 solid 2px;
  cursor: pointer;
}

.quantBtn:disabled {
  background-color: #6d1829;
  border: #6d1829 solid 2px;
  cursor: auto;
}

.removeBtn {
  background-color: white;
  border: none;
  color: red;
  font-weight: 600;
  font-size: 25px;
  width: 10%;
}

.removeBtn:hover {
  cursor: pointer;
}

hr {
  border: 1px #99999933 solid;
  width: 90%;
}

@media screen and (max-width: 590px) {
  .container {
    width: 100%;
  }

  .card {
    background-color: white;
    flex-flow: column;
    margin: 0;
    width: 100%;
  }

  .info {
    align-items: center;
    width: 100%;
  }

  .info * {
    margin: 5px 0;
  }

  .options {
    justify-content: space-around;
    align-items: center;
    width: 90%;
  }

  .options * {
    margin: 0;
  }

  .quant {
    align-items: center;
    justify-content: space-around;
  }
}

